<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Product</title>
  <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>

<div class="container">
<h1>Create Product</h1>

<form th:action="@{/admin/products/save}" method="post">

  <input type="hidden" name="id" th:value="${product.id}" />

  <input type="text"
         name="name"
         th:value="${product.name}"
         placeholder="Name"/>

  <input type="number"
         step="0.01"
         name="price"
         th:value="${product.price}"
         placeholder="Price"/>

  <button type="submit">Save</button>

</form>

<br>

<a href="/admin/products">Back</a>

</div>
</body>
</html>