<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>

<div class="auth-container">

  <h1>Login</h1>

  <form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Email">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Login</button>
  </form>

  <p>
    Non hai un account?
    <a th:href="@{/register}">Register</a>
  </p>

</div>

</body>
</html>