<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>

<div class="auth-container">

    <h1>Register</h1>

    <form th:action="@{/register}" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Register</button>
    </form>

    <p>
        Hai già un account?
        <a th:href="@{/login}">Login</a>
    </p>

</div>

</body>
</html>